@model ChangePasswordModel
<form asp-action="ChangePassword" method="post">
    <input asp-for="UserId" type="hidden" />
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["Title"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-5 col-form-label"></label>
            <div class="col-sm-7">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-sm-5 col-form-label"></label>
            <div class="col-sm-7">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">@Localizer["Save"]</button>
    </div>
</form>