@model CommentModel
<input asp-for="CustomerId" type="hidden" />
<input asp-for="PropertyId" type="hidden" />
<input asp-for="TransactionId" type="hidden" />
<div class="form-group">
    <label asp-for="Text" class="col-form-label"></label>
    <textarea asp-for="Text" class="form-control"></textarea>
    <span asp-validation-for="Text"></span>
</div>