@model ContactModel
<input asp-for="CustomerId" type="hidden" />
<input asp-for="PropertyId" type="hidden" />
<div class="form-group row">
    <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Telephone" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Telephone" class="form-control" />
        <span asp-validation-for="Telephone"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Email" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
</div>