@model ContactModel
<div class="form-group row">
    <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.FirstName)</label>
    <div class="col-sm-9">
        <textarea asp-for="FirstName" class="form-control"></textarea>
        <span asp-validation-for="FirstName"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.LastName)</label>
    <div class="col-sm-9">
        <textarea asp-for="LastName" class="form-control"></textarea>
        <span asp-validation-for="LastName"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.Telephone)</label>
    <div class="col-sm-9">
        <textarea asp-for="Telephone" class="form-control"></textarea>
        <span asp-validation-for="Telephone"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.Email)</label>
    <div class="col-sm-9">
        <textarea asp-for="Email" class="form-control"></textarea>
        <span asp-validation-for="Email"></span>
    </div>
</div>