@model PropertyModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="TransactionType" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="TransactionType" asp-items="@Html.GetEnumSelectList<TransactionTypeModel>()" class="form-control"></select>
                <span asp-validation-for="TransactionType"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PropertyType" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="PropertyType" asp-items="@Html.GetEnumSelectList<PropertyTypeModel>()" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="PropertyType"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Area" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="RegionId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="RegionId" asp-items="Model.Regions" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="RegionId"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="UserId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                <span asp-validation-for="UserId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-3 col-sm-9">
                <div class="form-check">
                    <input asp-for="IsRestricted" class="form-check-input" />
                    <label asp-for="IsRestricted" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(x => x.Description)</legend>
    <div class="form-group">
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
</fieldset>
