@model ContactListItemModel
<tr>
    <td>@Html.DisplayFor(x => x.FirstName)</td>
    <td>@Html.DisplayFor(x => x.LastName)</td>
    <td>@Html.DisplayFor(x => x.Telephone)</td>
    <td>@Html.DisplayFor(x => x.Email)</td>
</tr>