@model CustomerListModel
<div class="modal" id="criteriaModal" tabindex="-1" role="dialog" aria-labelledby="criteriaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Index" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="criteriaModalLabel">@Localizer["Title"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label asp-for="Criteria.Term" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Criteria.Term" type="text" class="form-control" />
                            <span asp-validation-for="Criteria.Term"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Criteria.UserId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="Criteria.UserId" asp-items="Model.Users" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="Criteria.UserId"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["Reset"]</a>
                    <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
                </div>
            </form>
        </div>
    </div>
</div>