@model PropertyStatusModel
@{
    string badgeClass;
    switch (Model)
    {
        case PropertyStatusModel.Active:
            badgeClass = "badge-success";
            break;
        case PropertyStatusModel.Reserved:
            badgeClass = "badge-warning";
            break;
        case PropertyStatusModel.Realized:
            badgeClass = "badge-dark";
            break;
        case PropertyStatusModel.Deleted:
            badgeClass = "badge-danger";
            break;
        default:
            badgeClass = "badge-secondary";
            break;
    }
}
<span class="badge @badgeClass">@Html.DisplayForModel()</span>