@model PropertyEditModel
@{
    ViewData["Title"] = Localizer["Title", Model.Id];
}
<div asp-validation-summary="All"></div>
<form method="post">
    <input asp-for="RowVersion" type="hidden" />

    @Html.EditorForModel()

    <button type="submit" class="btn btn-outline-primary">
        <i class="fa fa-save"></i>
        @Localizer["Save"]
    </button>
</form>
@section Scripts {
    <partial name="_EditScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
}