<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#criteriaModal">
    @Localizer["Criteria"]
    @if (Model != null)
    {
        <i class="fa fa-check"></i>
    }
</button>