@model TransactionListModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Localizer["Id"]</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(x => x.Transactions.Items)
        </tbody>
    </table>
</div>
<partial name="_PaginationPartial" model="Model.Transactions" />
<partial name="_EmptyResultPartial" model="Model.Transactions" />
<a asp-action="Create" class="btn btn-primary">
    @Localizer["Create"]
</a>