@{
    ViewData["Title"] = Localizer["Title"];
}
<div class="row">
    <div class="col-sm-6">
        <partial name="_SearchPropertyPartial" />
    </div>
    <div class="col-sm-6 mt-sm-0 mt-2">
        <partial name="_SearchCustomerPartial" />
    </div>
</div>